#competences {
    text-align: center;
}

.all-icones {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 50px;
}

.all-icones img {
    border-radius: 4%;
    width: auto;
    height: 100px;
    margin: 5px;
}

@media all and (min-width: 768px) and (max-width: 1240px) {
    .all-icones img {
        width: auto;
        height: 65px;
        flex: 0 0 auto;
        /* Laisse les icônes sur une ligne en version tablette */
    }
}

@media (max-width: 767.98px) {
    .all-icones {
        justify-content: center;
    }

    .all-icones img {
       height: 50px;
       
       
    }
}