#competences {
    text-align: center;
}

.all-icones {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 50px;
}

.all-icones img {
    border-radius: 4%;
    width: auto;
    height: 100px;
    margin: 5px;

}