.scroll-to-top {
  .arrow-up {
    position: fixed;
    bottom: 170px;
    right: 2px;
    width: 35px;
    height: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 1000;
    color: #313131;
    font-size: 24px;
    border: none;
    background: none;
  }
}

@media (max-width: 767.98px) {
  .scroll-to-top {
  .arrow-up {
    
   display: none;
   
  }
}
}